* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
:root {
  /* Colors */
  --primary: hsl(160deg, 100%, 30%);
  --secondary-lighter: hsl(45deg, 100%, 50%);
  --secondary-darker: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);

  /* Text Size */
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  /* Spacing */
  --space-sm: 8px;
  --space-medium: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;
  --space-5xl: 128px;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 8px solid var(--medium);
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-lg);
  height: 50%;
}

.intro-chunk {
  padding-left: var(--space-lg);
}

header p {
  min-width: 300px;
  max-width: 60%;
  font-size: var(--text-base);
}

p {
  color: var(--very-dark);
}

h1 {
  margin-bottom: var(--space-2xl);
}

strong {
  color: var(--primary);
}

main {
  height: 50%;
  background-color: var(--light);
  padding-top: var(--space-lg);
}

.card {
  background-color: var(--white);
  padding-top: var(--space-sm);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-lg);
  padding-left: var(--space-lg);
  border-bottom: 8px solid var(--medium);
}

.indented-heading {
  background-color: var(--secondary-lighter);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0px;
  margin-left: -36px;
  padding: var(--space-medium) var(--space-xl);
  font-size: var(--text-lg);
  border-bottom: 8px solid var(--secondary-darker);
}